<app-nav-bar></app-nav-bar>
<header>
    <div class="head-texte">
        <h1 class="main-texte">François Milhet</h1>
        <h2 class="sub-texte">Full Stack developer</h2>
        <a class="btn-circle" (click)="handleClick()">
            <i class="fa fa-angle-double-down"></i>
        </a>
    </div>
</header>
<div class="header-projects" id="down">
    <h1>Projects</h1>
    <h2> My ultimate goal is to become a full-stack developer and my skill-set constantly changes.<br>
        If you want to talk about a project, just <a routerLink="/contact">contact</a> me.</h2>
    <img class="logo" src="../../assets/image/logo1.png">
    <img class="logo" src="../../assets/image/logo2.png">
    <img class="logo" src="../../assets/image/logo3.png">
    <img class="logo" src="../../assets/image/logo4.png">
</div>
<div class="projects">
    <div class="row">
        <div class="col-sm-6">
            <div class="case" style="background: url(../../assets/image/Server-Back.jpg);">
                <h1>Server FTP & IRC</h1><hr>
                <div class="subcase" (click)="ShowModal('Modal1')">
                    <h2>I realized for a school project an FTP(File Transfer Protocol) and an IRC(Internet Relay Chat) server in C language.<br></h2>
                    <h3>Click for more...</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="case" style="background: url(../../assets/image/Bomberman-Back.jpg);">
                <h1 style=" text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Bomberman game</h1><hr>
                <div class="subcase" (click)="ShowModal('Modal2')">
                    <h2>With a group, we made a cross-platform 3D Bomberman video game in C++ using the irrlicht libraries.<br></h2>
                    <h3>Click for more...</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="case" style="background: url(../../assets/image/dashboard.png);">
                <h1>Dashboard</h1><hr>
                <div class="subcase" (click)="ShowModal('Modal3')">
                    <h2>I realized a dashboard with nodeJS - Docker.<br></h2>
                    <h3>Click for more...</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="case" style="background: url(../../assets/image/Strace-Back.jpg);">
                <h1>Strace linux command</h1><hr>
                <div class="subcase" (click)="ShowModal('Modal4')">
                    <h2>I recreated the Strace linux command in C.<br></h2>
                    <h3>Click for more...</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Modal1" class="modal">
    <div class="modal-content">
        <span (click)="CloseModal('Modal1')" class="close">&times;</span>
        <h1>Server FTP & IRC</h1><hr>
        <div class="desc">
            <h2>
                &#9679; FTP(File Transfer Protocol) server allows, as the name suggests, to transfer files over the Internet or through a local computer network (intranet).
                Anyone with permission, can download and send files to a remote computer running such a server.
            </h2>
            <h2>
                &#9679; IRC(Internet Relay Chat) server is a textual communication protocol on the Internet.
                It is used for instant communication mainly in the form of group discussions via chat channels, but can also be used for one-to-one communication. It can also be used for file transfer.
            </h2>
            <h3>
                I made both of this server entirely functional in C language. Obviously they was able to handle several clients at the same time, and have an identification system with a login and a password.
            </h3>
            <a href="../../assets/image/01.png" target="_blank">
                <img src="../../assets/image/01.png" class="img-thumbnail">
            </a>
        </div>
    </div>
</div>
<div id="Modal2" class="modal">
    <div class="modal-content">
        <span (click)="CloseModal('Modal2')" class="close">&times;</span>
        <h1>Bomberman Game</h1><hr>
        <div class="desc">
            <h2>
                &#9679; Bomberman is one of the most famous video games of all time.
                With over 70 franchises, ranging from the first version on MSX, ZX Spectrum and Sharp MZ-700 in 1983
                to the lastest versions on modern consoles, over 10 million units have been sold.<br>
            </h2>
            <h2 style="padding-left: 20px">-Our gameplay reference is Neo Bomberman, released on the Neo Geo and MVS systems in 1997.<br>
                -On that base, we made a local multi-player game with the possibility to play with a friend + AI’s controlled bots. We made the game in C++, using the <a href="http://irrlicht.sourceforge.net/" target="_blank">Irrlicht</a> Engine who is an open source high performance realtime 3D engine written in C++.
            </h2>
            <div class="row">
                <div class="col-sm-6">
                    <a href="../../assets/image/Menu.png" target="_blank">
                        <img src="../../assets/image/Menu.png" class="img-thumbnail">
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="../../assets/image/Game.png" target="_blank">
                        <img src="../../assets/image/Game.png" class="img-thumbnail">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Modal3" class="modal">
    <div class="modal-content">
        <span (click)="CloseModal('Modal3')" class="close">&times;</span>
        <h1 >Dashboard</h1><hr>
        <div class="desc">
            <h2>
                &#9679; A Dashboard is a computerized tool for centralizing in a single point a set of data to control an activity.<br></h2>
            <h2 style="padding-left: 20px">
                For this project, i use NodeJs for all the user management, and MogoDb for the data base.<br>
                I use different API for the different services on my dashboard like the weather, News, Market price, imgur...<br>
                And the build project was done with docker-compose.
            </h2>
        </div>
    </div>
</div>
<div id="Modal4" class="modal">
    <div class="modal-content">
        <span (click)="CloseModal('Modal4')" class="close">&times;</span>
        <h1>Strace command</h1><hr>
        <div class="desc">
            <h2>
                &#9679; Strace, is a UNIX / LINUX command who traces a program in real time and displays all of the system calls it executes in their order of appearance.<br></h2>
            <h2 style="padding-left: 20px">
                -System calls are the fundamental interfaces between applications and the kernel.<br>
                -Strace is a powerful troubleshooting tool for all unix / linux administrators and users.
            </h2>
            <a href="../../assets/image/StraceCode.png" target="_blank">
                <img src="../../assets/image/StraceCode.png" class="img-thumbnail">
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-social></app-social>