<aside id="sticky-social">
  <ul>
    <li><a href="https://www.facebook.com/francois.milhet" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
    <li><a href="https://twitter.com/francois97180" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
    <li><a href="https://www.linkedin.com/in/francois-milhet-713b4513a/" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
    <li><a href="https://www.instagram.com/filoou/" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
  </ul>
</aside>