<app-nav-bar></app-nav-bar>
<div class="wrap">
    <div class="box1">
        <img data-parent-ratio="2.1" src="../../assets/image/profile.jpg">
    </div>
    <div class="box2">
        <h1>François Milhet</h1>
        <h2>Developer full stack, Student at EPITECH Paris.</h2>
        <p>I’m François MILHET. I’m a full stack developer student who’s very curious about new technologies. I was born and raised in Guadeloupe, and I came to Paris to study at <a href="http://www.epitech.eu/" target="_blank">EPITECH</a> Paris.</p>
        <h4>Hobbies</h4>
        <p>Surf<br></p>
        <p>Video Games</p>
        <p>Automobile</p>
        <h4>Languages</h4>
        <p>Native : French</p>
        <p>Advanced : English</p>
        <h4>Skills</h4>
        <p>Programming languages :</p>
        <div style="margin-bottom: 10px">
            <img src="../../assets/image/c++logo.png" align="left">
            <img src="../../assets/image/clogo.png" align="left">
            <img src="../../assets/image/php-logo.png">
        </div>
        <img style="margin-left: 10px" src="../../assets/image/htmllogo.png">
        <div class="dl">
            <a href="../../assets/image/CV-Francois-MILHET.pdf" download="CV-Francois-MILHET" class="cubeBtn">
                <span data-hover="Thank You!">Download my CV</span>
            </a>
        </div>
    </div>
</div>
<app-social></app-social>