<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<div class="arrow" id="arrow">
    <a (click)="handleClick()"><span></span></a>
</div>
<div class="slide1 img-fluid" id="about">
    <h1>About Me</h1><hr>
    <img src="../../assets/image/full-stack-developer.png">
    <h2 class="text-slide1">I’m François MILHET, a full stack developer student based in Paris.<br>
        If you want to know more about me just <a routerLink="/profile">click here.</a></h2>
</div>
<div class="slide2">
    <h1>STUDIES</h1><hr>
    <div class="row" style="margin-right: 0px">
        <div class="col-md-6">
            <div class="workYear">
                sept-2016<br>sept-2021
            </div>
            <div class="arrowpart"></div>
            <div class="exCon">
                <h2>FORMATION<br><a target="_blank" href="http://www.epitech.eu/" >EPITECH</a> (The school of innovation)</h2>
            </div>
            <div class="workYear">
                Jan-2018<br>July-2018
            </div>
            <div class="arrowpart"></div>
            <div class="exCon">
                <h2>WORK<br>Barista at <a target="_blank" href="https://www.starbucks.fr/">Starbucks</a></h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="workYear">
                Sept-2018<br>March-2018
            </div>
            <div class="arrowpart"></div>
            <div class="exCon">
                <h2>INTERNSHIP<br>Teaching Assistant at <a target="_blank" href="https://campus.samsung.fr/">Samsung</a></h2>
            </div>
            <div class="workYear">
                Sept-2017<br>Dec-2017
            </div>
            <div class="arrowpart"></div>
            <div class="exCon">
                <h2>INTERNSHIP<br>Full stack developer at <a target="_blank" href="https://glob.vip/fr/">Glob</a> </h2>
            </div>
        </div>
    </div>
</div>
<div class="slide3 img-fluid">
    <h1>INTEREST</h1><hr>
    <div style="margin-left: 15px; margin-right: 15px" class="row">
        <a class="col-md-4 news" target="_blank" href="https://www.20minutes.fr/high-tech/2368827-20181110-google-algorithme-detecter-restaurant-rendu-malade">
            <img src="../../assets/image/google.jpg">
            <div class="article">
                <article>
                    ARTIFICIAL INTELLIGENCE An algorithm tested in the United States detects
                    the suspect(suspicious) restaurants by analyzing the geo-localization and the requests in the search engines of the sick people ...
                </article>
            </div>
        </a>
        <a class="col-md-4 news" target="_blank" href="https://uploadvr.com/starlight-vr-replace-pain-medication-children/">
            <img src="../../assets/image/Vr.jpg">
            <div class="article">
                <article>
                    How Starlight Is Using VR To Replace Pain Medication For Seriously Ill Children.
                    Starlight is a well-known charity organization with the mission to create “moments of joy and comfort for hospitalized kids ...
                </article>
            </div>
        </a>
        <a class="col-md-4 news" target="_blank" href="http://www.cnetfrance.fr/news/internet-par-satellite-spacex-lance-les-premiers-engins-de-sa-constellation-starlink-39864572.htm">
            <img src="../../assets/image/spacex.jpg">
            <div class="article">
                <article>
                    Satellite Internet: SpaceX launches the first engines of its Starlink constellation.
                    The company of Elon Musk, which plans to connect the entire planet to the Internet with a fleet of 11,943 ...
                </article>
            </div>
        </a>
        <a class="col-md-4 news" target="_blank" href="https://fallout.bethesda.net/article/pjJ5PKLGs8iC6s4GeYQMe/fallout-76-live-action-trailer">
            <img src="../../assets/image/Fallout.png">
            <div class="article">
                <article>
                    Bethesda Game Studios, the award-winning creators of Skyrim and Fallout 4,
                    welcome you to Fallout 76, the online prequel where every surviving human is a real person.
                </article>
            </div>
        </a>
        <a class="col-md-4 news" target="_blank" href="http://www.surfsession.com/articles/environnement/etes-vous-surfeur-eco-friendly-221182734.html">
            <img src="../../assets/image/ecoSurf.png">
            <div class="article">
                <article>
                    ARE YOU AN ECO-FRIENDLY SURFER ?
                    The bad news about the oceans is growing. And we surfers are more than ever concerned ...
                </article>
            </div>
        </a>
        <a class="col-md-4 news" target="_blank" href="https://www.surfsession.com/articles/les-surfeurs/6-legendes-surf-racontent-andy-irons-1103181485.html">
            <img src="../../assets/image/Andy.png">
            <div class="article">
                <article>
                    Eight years after the tragic disappearance of Andy Irons,
                    on November 2nd, 2010, these interviews extracted from KISSED BY GOD help us to remember us of the Hawaiian surfer...
                </article>
            </div>
        </a>
    </div>
</div>
<app-footer></app-footer>
<app-social></app-social>


