::ng-deep .navbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: black;
}

::ng-deep .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 576px) {
  ::ng-deep .container {
    max-width: 100%;
  }
}
